* {
    margin: 0;
    padding: 0;
}

#navBar {
    width: 82%;
    margin: auto;
}

#topLine {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

#topLine>div:first-child {
    display: flex;
    justify-content: space-between;
    width: 200px;
    flex-wrap: wrap;
}

#topLine>div:last-child {
    display: flex;
    justify-content: space-between;
    width: 480px;
    flex-wrap: wrap;
}

#topLine>div:first-child>a {
    text-decoration: none;
    color: black;
    padding: 15px 10px;
    font-family: Futura-Medium, Century Gothic, Gill Sans, Helvetica, Arial, sans-serif;
    font-size: 13px;
    letter-spacing: .4px;
}

#topLine>div:last-child>a {
    text-decoration: none;
    color: black;
    font-size: 11px;
    color: #757575;
    text-decoration: none;
    letter-spacing: .8px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 23px 0px 0px 0px;
    font-weight: bold;
}

#topLine>div:first-child>a:hover {
    background-color: #F2F2F2;
}

#topLine>div:last-child>a:hover {
    color: black;

}

#Logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

#Logo>a>img {
    width: 293px;
    height: 35px;
}

#cart {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 25px;
}

#cart>a {
    font-family: Futura-Medium, Century Gothic, Gill Sans, Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: .4px;
    text-decoration: none;
    color: black
}

span {
    font-size: 18px
}

#primaryNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    align-items: center;
    flex-wrap: wrap;
}

#primaryNav>div:first-child {
    display: flex;
    width: 700px;
    justify-content: space-between;
    flex-wrap: wrap;

}

#primaryNav>div>a {
    text-decoration: none;
    font-family: Futura-Medium, Century Gothic, Gill Sans, Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #757575;
    letter-spacing: .4px;
    padding: 0 5px;
}

#searchBar {
    width: 250px;
    padding: 5px 10px;
    border: 1px solid gray;

}

#primaryNav>div>a:hover {
    color: black;
}

hr {
    border: 1px thin
}

@media all and (min-width:550px) and (max-width:850px) {
    #navBar {
        width: 100%;

    }

    #searchBar {
        width: 200px;
        padding: 5px 8px;

    }
}

@media all and (min-width:100px) and (max-width:549px) {
    #navBar {
        width: 100%;
    }

    #cart {
        display: flex;
        justify-content: flex-end;
        position: relative;
        bottom: -10px;
    }

    #searchBar {
        width: 100px;
        padding: 5px 8px;

    }
}

@media all and (max-width:320px) {
    #Logo>a>img {
        width: 200px;
        height: 35px;
    }
}